Options -MultiViews
#RewriteEngine On

#RewriteBase /complaint

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]



RewriteEngine On
RewriteBase /complaint

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?url=$1 
